.slot-row{
    margin-top: 2%;
    margin-bottom: 2%;
    padding-top: 5px;
    padding-bottom: 5px;
}
.btn-slot{
    background-color: #fff;
    border: #2B2D42 2px solid;
    color: $secondary;
    padding: 6px;
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 13px;
    margin-left: 5px;
    margin-right: 5px;
}
.btn-slot:hover{
    border-color:#28a745;
    background-color: #fff;
    color: #000;
}
.unavailable{
    background-color: #fff;
    color: #fff;
    border: #2B2D42 2px dashed;
    .unavailable:hover{
        border: #2B2D42 2px dashed;
    }
}
.booked{
    color: #fff;
}
a.disabled {
    pointer-events: none;
    cursor: default;
}
.booked{
    background-color: #28a745;
    border: #28a745 2px solid;
    color: #fff !important;  
}
.booked:hover{
    background-color: #28a745;
    border: #28a745 2px solid;
    color: #fff !important;  
}

.StripeElement {
    padding: 9px 9px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    color: #000;
  }
  
  .StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
  }
  
  .StripeElement--invalid {
    border-color: #fa755a;
  }
  
  .StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
  }