// Typography
$font-family: 'Montserrat', sans-serif;

// Colors
/*
$bg-colour: #EDF2F4;
$text-colour: #2B2D42;
$primary: #FFDC4A;
$primary-hover: #4EFFEF;
$sidebar-primary: #2B303A;
$sidebar-active: #3EB2D6;
*/
$primary: #FFDC4A;
$secondary: #2E4857;


// Body
.wrapper{
    background-color: #EDF2F4;
    color: #292F36;
}