.list-group{
    padding: 0;
}
.cart-bar{
    height: 100vh;
    background-color:#fff;
}
.cart-head{
    text-align: center;
    margin-bottom: 2vh;
}
.cart-item{
    width: 100%;
}
.slot-row{
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 5px;
    padding-bottom: 5px;
}