.list-group{
    padding: 0;
}
.cart-bar{
    height: 100vh;
    background-color:#fff;
}
.cart-head{
    text-align: center;
    margin-bottom: 2vh;
}
.cart-item{
    width: 100%;
}
.slot-row{
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 5px;
    padding-bottom: 5px;
}
.btn-slot{
    background-color: #fff;
    border: #2B2D42 2px solid;
    padding: 6px;
    width: 85px;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 13px;
}
.btn-slot:hover{
    border-color:#28a745;
}
.unavailable{
    background-color: #fff;
    color: #fff;
    border: #2B2D42 2px dashed;
    .unavailable:hover{
        border: #2B2D42 2px dashed;
    }
}
.btn .booked{
    color: #fff;
}
a.disabled {
    pointer-events: none;
    cursor: default;
}
.booked{
    background-color: #28a745;
    border: #fff 2px solid;
    a{
      color: #fff !important;  
    }
}