.btn{
    background-color: $secondary;
    border-color: $secondary;
    color: #fff;
}
.btn:hover .btn:active .btn:focus{
    background-color: $primary;
    border-color: $primary;
    color: #fff;
}