.btn{
    background-color: $secondary;
    border-color: $secondary;
    color: #fff;
}
.btn:hover{
    background-color: $primary;
    border-color: $primary;
    color: $secondary;
}
.btn-cart{
    border: #000 2px solid;
    border-radius: 0px;
    background-color: transparent;
    color: black;
}