.slot-row{
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 5px;
    padding-bottom: 5px;
}
.btn-slot{
    background-color: #fff;
    border: #2B2D42 2px solid;
    color: $secondary;
    padding: 6px;
    width: 4.9vw;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 13px;
    margin-left: 5px;
    margin-right: 5px;
}
.btn-slot:hover{
    border-color:#28a745;
    background-color: #fff;
    color: #000;
}
.unavailable{
    background-color: #fff;
    color: #fff;
    border: #2B2D42 2px dashed;
    .unavailable:hover{
        border: #2B2D42 2px dashed;
    }
}
.booked{
    color: #fff;
}
a.disabled {
    pointer-events: none;
    cursor: default;
}
.booked{
    background-color: #28a745;
    border: #28a745 2px solid;
    
    color: #fff !important;  
}