.product-card{
    padding: 0;
    border-radius: 0px;
    //border: 0.2px solid rgba(46, 72, 87,0.2);
    width: 100%;
}
.card .card-body{
    padding: 0px;    
}
.item-in-cart{
    border-bottom: $success solid 2px;
}
.card-title{
    font-size: 16px;
}
/* bottom section */
.card-bottom{
    width: 100%;
}
.red{
    background-color: red;
}
.blue{
    background-color: blue;
}
.card-form{
    padding-bottom: 8px;
    
    padding-left: 0px;
}
.btn-cart{
    border: #000 2px solid;
    border-radius: 0px;
    background-color: transparent;
    color: red;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
    height: 100%;
}
.qty-input{
    border: #000 2px solid;
    border-radius: 0px;
    background-color: transparent;
    color: red;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
   
}
.bottom-cart-text{
    padding-top: 8px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    bottom: 0;
    color: $success;
}